/*
 * Reset
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio[controls],
canvas,
video {
    display: inline-block;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}
:focus {
    outline: 0;
}
img {
    vertical-align: middle;
    outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}
html {
    overflow-x: hidden;
}
body {
    text-align: left;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: Urbanist, sans-serif;
    font-style: normal;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background-default: #FAFAFA;
    --background-80: rgba(250, 250, 250, 0.8);
    --background-2: rgba(250, 250, 250, 0.02);
    --action-main: rgba(14, 13, 15, 0.64);
    --action-main-svg: rgb(14, 13, 15);
    --divider-main: rgba(14, 13, 15, 0.08);
    --text-primary: #0E0D0F;
    --text-secondary: rgba(14, 13, 15, 0.70);
    --secondary-48: rgba(250, 250, 250, 0.48);
    --white-contrast: #0A090A;
    --black-contrast: #FFF;
    --purple-main: #6F76C0;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #ECECEC 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%);
    --accent-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
    --divider-input: rgba(14, 13, 15, 0.24);
}

.dark-mode-gamestore {
    --background-default: #0E0D0F;
    --background-80: rgba(14, 13, 15, 0.8);
    --background-2: rgba(14, 13, 15, 0.02);
    --action-main: rgba(255, 255, 255, 0.64);
    --action-main-svg: rgb(255, 255, 255);
    --divider-main: rgba(255, 255, 255, 0.12);
    --text-primary: #FFFFFF;
    --secondary-48: rgba(14, 13, 15, 0.60);
    --white-contrast: #FFFFFF;
    --black-contrast: #0A090A;
    --wp--preset--color--base: #0E0D0F;
    --wp--preset--color--contrast: #FFFFFF;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #0D0B0F 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(14, 13, 15, 0.00) 0%, #0E0D0F 100%);
    --text-secondary: rgba(255, 255, 255, 0.7);
    --divider-input: rgba(255, 255, 255, 0.24);
}