/*
 * Reset
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio[controls],
canvas,
video {
    display: inline-block;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    -ms-text-size-adjust: 100%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

:focus {
    outline: 0;
}

img {
    vertical-align: middle;
    outline: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}

html {
    overflow-x: hidden;
}

body {
    text-align: left;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: Urbanist, sans-serif;
    font-style: normal;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background-default: #FAFAFA;
    --background-80: rgba(250, 250, 250, 0.8);
    --background-2: rgba(250, 250, 250, 0.02);
    --action-main: rgba(14, 13, 15, 0.64);
    --action-main-svg: rgb(14, 13, 15);
    --divider-main: rgba(14, 13, 15, 0.08);
    --text-primary: #0E0D0F;
    --text-secondary: rgba(14, 13, 15, 0.70);
    --secondary-48: rgba(250, 250, 250, 0.48);
    --white-contrast: #0A090A;
    --black-contrast: #FFF;
    --purple-main: #6F76C0;
    --wp--preset--color--base: #fff;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #ECECEC 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%);
    --accent-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
    --divider-input: rgba(14, 13, 15, 0.24);
    --wp--preset--color--white: rgba(250, 250, 250, 1);
}

.dark-mode-gamestore {
    --background-default: #0E0D0F;
    --background-80: rgba(14, 13, 15, 0.8);
    --background-2: rgba(14, 13, 15, 0.02);
    --action-main: rgba(255, 255, 255, 0.64);
    --action-main-svg: rgb(255, 255, 255);
    --divider-main: rgba(255, 255, 255, 0.12);
    --text-primary: #FFFFFF;
    --secondary-48: rgba(14, 13, 15, 0.60);
    --white-contrast: #FFFFFF;
    --black-contrast: #0A090A;
    --wp--preset--color--base: #0E0D0F;
    --wp--preset--color--contrast: #FFFFFF;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #0D0B0F 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(14, 13, 15, 0.00) 0%, #0E0D0F 100%);
    --text-secondary: rgba(255, 255, 255, 0.7);
    --divider-input: rgba(255, 255, 255, 0.24);
}

body {
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-size: clamp(1rem, calc(0.93rem + 0.33vw), 1.25rem);
    line-height: 1.6;
}

body.dark-mode-gamestore{
    background-color: var(--background-default);
}

.wrapper {
    width: 100%;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: clamp(2.5rem, calc(2.11rem + 1.97vw), 4rem);
}

h2 {
    font-size: clamp(2.25rem, calc(1.95rem + 1.48vw), 3.38rem);
}

h3 {
    font-size: clamp(2rem, calc(1.8rem + 0.98vw), 2.75rem);
}

h4 {
    font-size: clamp(1.75rem, calc(1.65rem + 0.49vw), 2.13rem);
}

h5 {
    font-size: clamp(1.5rem, calc(1.4rem + 0.49vw), 1.88rem);
}

h6 {
    font-size: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.63rem);
}

input[type="text"],
input[type="email"] {
    margin: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid var(--divider-input, rgba(14, 13, 15, 0.24));
    background: transparent;
    color: var(--text-secondary, rgba(14, 13, 15, 0.70));
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.hero-button,
input[type="submit"] {
    border:0;
    outline: 0;
    border-radius: 5px;
    display: inline-flex;
    padding: 20px 32px;
    font-family: "Ubuntu", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    background: var(--accent-gradient, linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%));
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &.shadow {
        box-shadow: 0px 16px 24px 0px  rgba(61, 175, 226, 0.48);
    }

    &:hover {
        background: linear-gradient(90deg, #6F76C0 0%, #555ba5 100%);
        transition: all 300ms ease-in-out;

        &.shadow {
            box-shadow: 0px 8px 12px -6px  rgba(61, 175, 226, 0.48);
        }
    }
}

.game-platforms {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.game-platforms > div {
    width: 20px;
    height: 20px;
    display: block;
}

.game-platforms .platform_xbox {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path d='M14.135 12.1191C15.8655 14.2402 16.6624 15.9785 16.26 16.7558C15.9514 17.3457 14.0452 18.498 12.6428 18.9394C11.4866 19.3027 9.97096 19.4589 8.72096 19.3378C7.22877 19.1933 5.71705 18.6582 4.42018 17.8144C3.33033 17.1035 3.08424 16.8105 3.08424 16.2285C3.08424 15.0605 4.3694 13.0136 6.56862 10.6777C7.81862 9.35347 9.5569 7.79878 9.7483 7.84175C10.1155 7.92378 13.0413 10.7753 14.135 12.1191ZM7.05299 5.30659C5.89284 4.25581 4.78346 3.20112 3.67799 2.83003C3.08424 2.63081 3.04127 2.64253 2.5569 3.14643C1.41627 4.33393 0.467053 6.25972 0.201428 7.92768C-0.00950908 9.26362 -0.0368528 9.63862 0.0373659 10.291C0.256116 12.2636 0.713147 13.6269 1.6194 15.0136C1.99049 15.5839 2.09205 15.6894 1.98268 15.4003C1.81862 14.9707 1.97096 13.9355 2.35377 12.9003C2.91237 11.3769 4.45924 8.49018 7.05299 5.30659ZM19.2249 7.78706C18.5647 4.66206 16.5881 2.69722 16.3108 2.69722C16.0256 2.69722 15.3655 2.95112 14.9046 3.24018C13.9944 3.80659 13.303 4.46675 12.3928 5.30268C14.0491 7.38472 16.385 10.748 17.1936 13.205C17.4592 14.0136 17.5725 14.8105 17.4827 15.248C17.4163 15.58 17.4163 15.58 17.5374 15.4277C17.7756 15.1269 18.3147 14.205 18.5296 13.7285C18.8186 13.0957 19.1155 12.1582 19.2561 11.4355C19.4241 10.5566 19.4085 8.66987 19.2249 7.78706ZM5.20534 1.36909C7.06862 1.27143 9.49049 2.71675 9.67018 2.7519C9.69752 2.75581 10.0764 2.58784 10.5139 2.373C13.01 1.15815 14.1858 1.36518 14.7092 1.38862C12.2131 -0.146534 8.7444 -0.564503 5.57252 0.931591C4.65846 1.36518 4.63502 1.39643 5.20534 1.36909Z' fill='%236F76C0'/></svg>") center center no-repeat;
}

.game-platforms .platform_microsoft {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M0 14.8318L6.99769 15.8453V9.15034H0V14.8318ZM0 8.19396H6.99769V1.49825L0 2.51177V8.19396ZM7.95407 15.984L17.3436 17.3439V9.15034H7.95407V15.984ZM7.95407 1.35925V8.19396H17.3436V0L7.95407 1.35925Z' fill='%236F76C0'/></svg>") center center no-repeat;
}

.game-platforms .platform_playstation {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='19' viewBox='0 0 25 19' fill='none'><path d='M24.3987 14.5412C23.9171 15.1489 22.7385 15.5813 22.7385 15.5813L13.9748 18.7292V16.4075L20.4245 14.1104C21.1569 13.8488 21.2692 13.4765 20.6738 13.2826C20.0799 13.0872 19.0044 13.1441 18.2736 13.4057L13.9748 14.9197V12.5102L14.2225 12.4272C14.2225 12.4272 15.4641 11.9871 17.2104 11.7933C18.9567 11.6009 21.0953 11.8194 22.7739 12.4549C24.6664 13.0549 24.8787 13.935 24.3987 14.5412ZM14.8087 10.5901V4.65115C14.8087 3.95417 14.681 3.31258 14.0271 3.13102C13.5255 2.96947 13.2147 3.43566 13.2147 4.1311V19L9.20514 17.7276V0C10.9099 0.316949 13.3932 1.0647 14.7287 1.51551C18.1243 2.68022 19.2752 4.1311 19.2752 7.4006C19.2752 10.587 17.3089 11.7948 14.8087 10.5885V10.5901ZM1.84763 16.1675C-0.0940704 15.6166 -0.417173 14.4781 0.467514 13.8227C1.28604 13.2165 2.67692 12.761 2.67692 12.761L8.42662 10.7147V13.0457L4.28782 14.5273C3.55853 14.7889 3.44622 15.1597 4.04011 15.3551C4.63401 15.549 5.70948 15.4936 6.4403 15.232L8.42508 14.5104V16.5967L8.02966 16.6629C5.95906 16.9981 3.83809 16.8276 1.84763 16.1659V16.1675Z' fill='%236F76C0'/></svg>") center center no-repeat;
}


.popup-games-search-container {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(14, 13, 15, 0.9);
    backdrop-filter: blur(8px);
    padding-top: 48px;
    padding-bottom: 0;
    box-sizing: border-box;
}

#close-search {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    top:24px;
    right: 24px;
    cursor: pointer;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g opacity="0.4"><path d="M2 18L18 2" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 18L2 2" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g></svg>') center center no-repeat;
    transition: all 300ms ease-in-out;
}

#close-search:hover {
    opacity:.7;
}

.search-container .search-bar  {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.search-container .search-bar .search-label {
    color: #FFF;
}

#popup-search-input {
    height: 60px;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background:  rgba(250, 250, 250, 0.04);
    color:  rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
.search-popup-title {
    color: #FFF;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}

.popup-search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap:24px;
}
.popup-search-results > div {
    width: calc(16.66666% - 13.33333px); /*  5*16/6=13.3333333333    6 - кол. колонок. 16 - gap  5- разделение между колонками.   100/6 = 16.6666% */
}
.game-placeholder {
    border-radius: 8px;
    background:  rgba(250, 250, 250, 0.08);
    height: 360px;
    animation: pulse 1.5s infinite;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-results-wrapper {
    max-width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

.search-results-wrapper::-webkit-scrollbar {
    display: none;
}

.game-result .game-featured-image {
    width: 100%;
    height: 340px;
    margin-bottom: 16px;
}
.game-result a {
    text-decoration: none;
}
.game-result .game-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.game-result .game-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.game-result .game-meta h3 {
    color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-height: 20px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
}
.game-result .game-meta .game-price {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #6F76C0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.game-result .game-meta .game-price ins {
    order: 0;
    text-decoration: none;
}
.game-result .game-meta .game-price del {
    order: 1;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
}
.game-result .game-meta .game-price bdi {
    text-decoration: none;
}

@keyframes pulse {
    0% {opacity:1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}