/*
 * Reset
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio[controls],
canvas,
video {
    display: inline-block;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    -ms-text-size-adjust: 100%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

:focus {
    outline: 0;
}

img {
    vertical-align: middle;
    outline: 0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}

html {
    overflow-x: hidden;
}

body {
    text-align: left;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: Urbanist, sans-serif;
    font-style: normal;
    line-height: 1.6;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    --background-default: #FAFAFA;
    --background-80: rgba(250, 250, 250, 0.8);
    --background-2: rgba(250, 250, 250, 0.02);
    --action-main: rgba(14, 13, 15, 0.64);
    --action-main-svg: rgb(14, 13, 15);
    --divider-main: rgba(14, 13, 15, 0.08);
    --text-primary: #0E0D0F;
    --text-secondary: rgba(14, 13, 15, 0.70);
    --secondary-48: rgba(250, 250, 250, 0.48);
    --white-contrast: #0A090A;
    --black-contrast: #FFF;
    --purple-main: #6F76C0;
    --wp--preset--color--base: #fff;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #ECECEC 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%);
    --accent-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
    --divider-input: rgba(14, 13, 15, 0.24);
}

.dark-mode-gamestore {
    --background-default: #0E0D0F;
    --background-80: rgba(14, 13, 15, 0.8);
    --background-2: rgba(14, 13, 15, 0.02);
    --action-main: rgba(255, 255, 255, 0.64);
    --action-main-svg: rgb(255, 255, 255);
    --divider-main: rgba(255, 255, 255, 0.12);
    --text-primary: #FFFFFF;
    --secondary-48: rgba(14, 13, 15, 0.60);
    --white-contrast: #FFFFFF;
    --black-contrast: #0A090A;
    --wp--preset--color--base: #0E0D0F;
    --wp--preset--color--contrast: #FFFFFF;
    --mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #0D0B0F 79.5%);
    --mask-gradient-second: linear-gradient(180deg, rgba(14, 13, 15, 0.00) 0%, #0E0D0F 100%);
    --text-secondary: rgba(255, 255, 255, 0.7);
    --divider-input: rgba(255, 255, 255, 0.24);
}

body {
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-size: clamp(1rem, calc(0.93rem + 0.33vw), 1.25rem);
    line-height: 1.6;
}

.wrapper {
    width: 100%;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: clamp(2.5rem, calc(2.11rem + 1.97vw), 4rem);
}

h2 {
    font-size: clamp(2.25rem, calc(1.95rem + 1.48vw), 3.38rem);
}

h3 {
    font-size: clamp(2rem, calc(1.8rem + 0.98vw), 2.75rem);
}

h4 {
    font-size: clamp(1.75rem, calc(1.65rem + 0.49vw), 2.13rem);
}

h5 {
    font-size: clamp(1.5rem, calc(1.4rem + 0.49vw), 1.88rem);
}

h6 {
    font-size: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.63rem);
}

.hero-button,
input[type="submit"] {
    border:0;
    outline: 0;
    border-radius: 5px;
    display: inline-flex;
    padding: 20px 32px;
    font-family: "Urbanist", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    background: var(--accent-gradient, linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%));
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &.shadow {
        box-shadow: 0px 16px 24px 0px  rgba(61, 175, 226, 0.48);
    }

    &:hover {
        background: linear-gradient(90deg, #6F76C0 0%, #555ba5 100%);
        transition: all 300ms ease-in-out;

        &.shadow {
            box-shadow: 0px 8px 12px -6px  rgba(61, 175, 226, 0.48);
        }
    }
}

.popup-games-search-container {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(14, 13, 15, 0.9);
    backdrop-filter: blur(8px);
    padding-top: 48px;
    padding-bottom: 0;
    box-sizing: border-box;
}

#close-search {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    top:24px;
    right: 24px;
    cursor: pointer;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g opacity="0.4"><path d="M2 18L18 2" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 18L2 2" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g></svg>') center center no-repeat;
    transition: all 300ms ease-in-out;
}

#close-search:hover {
    opacity:.7;
}

.search-container .search-bar  {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.search-container .search-bar .search-label {
    color: #FFF;
}

#popup-search-input {
    height: 60px;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background:  rgba(250, 250, 250, 0.04);
    color:  rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
.search-popup-title {
    color: #FFF;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}

.popup-search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap:24px;
}
.popup-search-results > div {
    width: calc(16.66666% - 13.33333px); /*  5*16/6=13.3333333333    6 - кол. колонок. 16 - gap  5- разделение между колонками.   100/6 = 16.6666% */
}
.game-placeholder {
    border-radius: 8px;
    background:  rgba(250, 250, 250, 0.08);
    height: 360px;
    animation: pulse 1.5s infinite;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-results-wrapper {
    max-width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

.search-results-wrapper::-webkit-scrollbar {
    display: none;
}

.game-result .game-featured-image {
    width: 100%;
    height: 340px;
    margin-bottom: 16px;
}
.game-result a {
    text-decoration: none;
}
.game-result .game-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.game-result .game-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.game-result .game-meta h3 {
    color: #FFF;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-height: 20px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
}
.game-result .game-meta .game-price {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #6F76C0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.game-result .game-meta .game-price ins {
    order: 0;
    text-decoration: none;
}
.game-result .game-meta .game-price del {
    order: 1;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
}
.game-result .game-meta .game-price bdi {
    text-decoration: none;
}

@keyframes pulse {
    0% {opacity:1;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}